<div id="<%= dom_id category_expense %>">
  <p>
    <strong>User:</strong>
    <%= category_expense.user_id %>
  </p>

  <p>
    <strong>Expense:</strong>
    <%= category_expense.expense_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= category_expense.category_id %>
  </p>

</div>
