<h1>Editing category expense</h1>

<%= render "form", category_expense: @category_expense %>

<br>

<div>
  <%= link_to "Show this category expense", @category_expense %> |
  <%= link_to "Back to category expenses", category_expenses_path %>
</div>
